*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top left, #03002e, #0a0097,rgb(0, 255, 234));
    color: white;
    font-family: "Dosis", sans-serif;
}

header {
    height: 1.5cm;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background-color: #01000f;
}
footer{
    height: 1.5cm;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header h1 {
    font-size: 60px;
    color: rgb(255, 166, 0);
}

header nav {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 8px;
    
}

header nav ul li a {
    font-size: large;
    background-color: #0b019e;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    cursor: pointer;
    background-color: #1100ff;
    color: #ffa600;
}

/* Sections */

.hero-section, .about-section, .projects-section, .contact-section {
    width: 100%;
}

    /* Hero Section */
    .hero-section {
        height: 100vh;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hero-section .hero-text{
    background-color: #459b4c00;
    height: 300px;
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero-section .hero-text h1 {
    /*font-size: xx-large; */
    font-size: 60px;
    color: #ffa600;
}
.hero-section .hero-text h2 {
    /*font-size: xx-large; */
    font-size: 20px;
    color: #ffa600;
}

.hero-section .hero-text h1, .hero-section .hero-text p{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.hero-section .hero-pic{
    height: 400px;
    width: 400px;
}
.hero-section .hero-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

    /* About Section */

    .about-section {
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about-section h1 {
        text-align: center;
        color: #ffa600;
        font-size: 30px;
    }
    .about-section .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-section .about-text p {
        font-size: 20px;
        width: 65%;
    }


    /* Projects Section */

    .projects-section {
        display: flex;
        flex-direction: column;
    }
    .projects-section h1 {
        color: #ffa600;
        text-align: center;
    }
    .projects-section p {
        text-align: center;
        font-size: 20px;
    }
    
    .projects-section .projects {
        padding: 12px;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 28px;
    }
    
    .projects-section .projects p {
        text-align: start;
        font-size: 20px;
    }
    .projects-section .projects .project-card {
        background-color: #1f0263;
        color: #ffffff;
        padding: 12px;
        width: 300px;
        height: fit-content;
        border-radius: 12px;
        transition: 0.5s;
    }
    .projects-section .projects .project-card:hover {
        background-color: #3e05c2;
        transition: 0.5s;
        cursor: pointer;
    }
    .projects-section .projects .project-card .card-img img{
        width: 100%;
        height: 250px;
        border-radius: 12px;
    }
    .projects-section .projects .project-card .view-site a {
        color: #ffffff;
        font-weight: bold;
    }
    .projects-section .projects .project-card .view-site a:hover {
        color: #1100ff;
        cursor: pointer;
        font-weight: bold;
    }

    /* contact section */

.contact-section {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.contact-section .contact-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-section h1{
    height: 2cm;
    color: #ffa600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-section p{
    width: 70%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-section .contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-section .contact-links li {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #110f96;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contact-section .contact-links li a img.git {
    width: 80px;
    height: 80px;
}
.contact-section .contact-links a {
text-decoration: none;
color: white;
}



@media (max-width: 500px) {

    .hero-section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    header nav ul {
        width: fit-content;
        gap: 8px;
        
    }
    
    header nav ul li a {
        font-size: medium;
    }
    .hero-section .hero-pic{
        margin-top: 100px;
        height: 250px;
        width: 250px;
    }
    .hero-section .hero-pic img{
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
    .hero-section, .about-section, .projects-section, .contact-section {
        width: 100%;
        height: fit-content;
    }
}




